@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@layer components{
  .nav-btn {
  width: 100%;
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  transition: background-color 0.2s ease;
}

.nav-btn:hover {
  background-color: #383838;
}

.card-info {
  flex: 1;
  height: 180px;
  background: #383838;
  display: flex;
  align-items: center;
  gap: 1rem;              
  padding: 1rem;          
  border-radius: 0.5rem; 
}

.card-block {
  width: 20%;
  height: 100%;
  background: #22c55e4d; 
  border-radius: 0.75rem;             
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text h1 {
  font-size: 1.5rem;
}

.card-text p {
  font-size: 1.875rem;
}

.link-carts{
  font-size: 1.1em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: .2s;
}

.link-carts:hover{
  color: #0cc34fcd;
}


}