@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@layer components{
  .nav-btn {
  width: 100%;
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  transition: background-color 0.2s ease;
}

.nav-btn:hover {
  background-color: #383838;
}
}